chatbot/chatbot*
chatbot/*.log
chatbot/config.yaml
chatbot/role.yaml
chatbot/data
chatbot/*.db
openai.code-workspace
server/server*
server/*.log
server/config.yaml
server/role.yaml
server/data
server/*.db
wechat/wechat*
wechat/config.json
wechat/*.mp3
wechat/*.log
wechat/data
wechat/role.yaml
wechat/config.yaml
wechat/*.db
telegram/telegram*
telegram/config.json
telegram/*.mp3
telegram/*.log
telegram/data
telegram/role.yaml
telegram/config.yaml
telegram/*.db
sqlite3.db
role/*.db
models/*.db
telegram/telegram
docker-compose/config.yaml
telegram/__debug_bin*
__debug_bin-*
