server:
  port: 8080
baidu:
  key: 
  secret:
bard:
  token: 
claude:
  api_key:
openai:
  api_key: 
  role: 职业
  proxy:
telegram:
  token: 
aispeech:
  token: 
  appid: 
  aeskey: 
officeaccount:
  token: 
  appid: 
  appsecret: 
  aeskey: 


