server:
  port: 8080
  secret: 
baidu:
  key: 
  secret:
bard:
  token: 
claude:
  api_key:
openai:
  api_key: 
  role: 职业
  proxy:
telegram:
  token: 
aispeech:
  token: 
  appid: 
  aeskey: 
officeaccount:
  token: 
  appid: 
  appsecret: 
  aeskey: 
wechat:
  qas:
    - q: 地址
      a: 上海市浦东新区
    - q: 产品
      a: https://prodev.jd.com/mall/active/2kmaPNrGDNYo1LKwYtRoaSmsgbj6/index.html
  groups:
    - 斗地主
    - 露露库存




